ion-title.large-title {
    color: purple;
    font-size: 30px;
  }

ion-img.afitlogo {
    height: 200px;
    max-height: fit-content;
    // max-width: fit-content;
}

ion-title.end {
    text-align: center;
  }