.info {
    text-align: center;
    font-weight: bold;
    padding: 0, 0;
    margin: 0;
}
.result {
    padding-right: 7em;
}
tr.noBorder td {
    border: 0
}
ul
{
  display:flex;  
  list-style:none;
}
